
@import 'font-awesome';
@import 'foundation';

body {
  background: #D2D2C9;
}

// SITE LAYOUT
#hr {
	width: 90%;
	margin: 0 auto;
}
.layoutForm {
	width: 80%;
	margin: 0 auto;
	margin-top: 4%;
}
.layoutBtns {
	margin-left: 5%;

	button {
		margin-right: 1%;
	}
}



// LAYOUT
#navLinks {
	margin: 2% 5%;

	li {
		list-style: none;
		display: inline-block;
		margin-right: 5%;	
	}
}
//FILE-UPLOAD DIRECTIVE
.fileUploadProgress {
	display: inline-block;
	width: 40%;
}
.fileUploadInput {
	display: inline-block;
	width: 40%;
}
// DASH
#dashBackground {
	background-image: url('../img/darkSoulsBackground.jpg');
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 900px;
}

//PROFILE
.profileWrapper {
	width: 80%;
	margin: 0 auto;
	margin-top: 4%;

}
.profileInfo {
	width: 40%;
	h4 {
		line-spacing: 1.5em;
	}
}
.profileImg {
	width: 40%; 
}


// BOSSES
#addBosses {
	h1 {
		display: inline-block;
		vertical-align: middle;
		margin-right: 3%;
		
	}
	button {

		display: inline-block;
		

	}
}
.bosses {
	display: inline-block;
	width: 30%;
	height: 270px;
	margin: 1% 1.5%;
	overflow: hidden;
	// background: black;




	h4 {
		text-align: center;
		font-size: 1.1em;
		// color: white;

	}
	img {
	display: block;
	vertical-align: middle;
	width: 100%;
	min-height: 210px;
	max-height: 210px;
	}
}

//BOSS
.singleBoss {
	margin: 0 auto;
	width: 90%;
}

